#rodape {
  background-color: #000;
  text-align: center;
  padding: 10px 10px;
  color: #bbb;
}

/* Títulos */
#rodape .titulo {
  font-family: 'Inknut Antiqua', serif;
  font-size: 5rem;
  margin-bottom: 5px;
  animation: pulse 1.5s infinite;
  /* animação chamativa */
  font-weight: bold;
  margin-top: 20px;
}

#rodape h4 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Jersey 25', serif;
}

/* Container da classificação + botões */
#rodape .redes-sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  /* espaço entre a classificação e os ícones */
  margin-bottom: 20px;
}

/* Imagem da classificação indicativa */
#rodape .classificacao-indicativa {
  height: 150px;
  width: 150px;
  margin-left: 80px;
  border-radius: 10px;
}

/* Botões sociais */
#rodape .botoes {
  display: flex;
  gap: 15px;
  width: 300px;
}

#rodape .button-whatsapp,
#rodape .button-facebook,
#rodape .button-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#rodape .button-whatsapp {
  color: #25D366;
  /* verde do WhatsApp */
}

#rodape .button-facebook {
  color: #3b5998;
  /* azul do Facebook */
}

#rodape .button-instagram {
  color: #E1306C;
  /* rosa do Instagram */
}
#rodape .button-facebook:hover,.button-instagram:hover,.button-whatsapp:hover{
  transform: scale(1.2);
}

/* Copyright */
#rodape p {
  font-size: 20px;
  margin-top: 15px;
  color: #aaa;

}